{% extends 'base.html' %}

{% block title %}
    Add a new Blog Post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
   
    <div class="container shadow p-3 mb-5 bg-body rounded" style="width: 80%;margin-top: 30px;">
        <h1 style="text-align:center; margin-top:10px;color:#1e3c72;font-weight: bolder">Add Post</h1>
        <br>
    <div class="form-group" style="font-weight: 600;line-height: 2.5;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <br>
            <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:40%;
            background: linear-gradient(to right,#373B44 ,#4286f4 );">Post</button>
        </form>
    </div>
    </div>
    <br/><br/>

    <!-- Javascript -->
    <script>
         var name="{{ user.first_name }}"
         document.getElementById("elder").placeholder=name;
    </script>

{% else %}
    Login required to view
{% endif %}
{% endblock %}