{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title_tag}}
{% endblock %}

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/article_details.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="sec">
    <br/>
<h1 class="first-heading">{{post.title}}</h1>
<h4 class="first-heading"> {{post.title_tag}}</h4>

<br>

<small>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <span class="inline">
        <a href="{% url 'update_post' post.pk %}" class="pencil-icon"><i class="fa-solid fa-pencil"></i></a>
          <br/>
        <a href="{% url 'delete_post' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash-arrow-up"></i></a> 
    </span>
    {% endif %}  
    {% endif %}    
</small>
<small class="post-author">-Posted by {{post.author}}</small>
<br/> 
<!-- Category -->
<a href="{% url 'category' post.category %}">
<span class="badge text-bg-primary category">
  Category: 
  {{post.category}}
</span>
</a>
</div>
<hr>

{% if post.header_image  %}
<img src="{{ post.header_image.url }}" class="banner-img"  height="500" alt="blog-img">
{% endif %}
<br/><br/>

{{ post.body|safe }}
<br><br>
<h2>Comments: </h2>

{% if not post.comments.all %}
No Comments yet.. <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
{% else %}
<br/>
<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br/><br/><br/>
  {% for comment in post.comments.all %}
     <strong>{{ comment.name }}-{{ comment.date_added }}</strong>
     <br/>
     {{ comment.body }}
     <br/>
     <hr>
  {% endfor %}
{% endif %}

</div>

<br/><br/>
<hr>
<div class="card mb-3" style="max-width: 540px; position: relative;left: 300px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if post.author.profile.profile_pic %}
        <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded" alt="profile-pic">
        {% else %}
        <img src="{% static 'images/user-icon.webp' %}" width="200" height="200">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'show_profile_page' post.author.profile.id %}">Author Profile</a>
            {{post.author.profile.user}}</h5>
          <p class="card-text">{{post.author.profile.bio}}</p>
          <p class="card-text"><small class="text-muted">

            {% if post.author.profile.website_url %}
            <a href="{{ post.author.profile.website_url }}">Website</a>
            {% endif %}

            {% if post.author.profile.facebook_url %}
            <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
            {% endif %}

            {% if post.author.profile.twitter_url %}
            <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
            {% endif %}

            {% if post.author.profile.instagram_url %}
            <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
            {% endif %}

          </small></p>
        </div>
      </div>
    </div>
  </div>

<hr><br/>
{% endblock %}