{% extends 'base.html' %}

{% block title %}
    {{post.title_tag}}
{% endblock %}

{% block content %}
<div class="container">
    <br/>
<h1>Posts</h1>
{{post.title}} | {{post.title_tag}} | {{post.author.id}}

<br>
Current User : {{ user.id }}
Post author : {{post.author.id}}
<br>
<small>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        -<a href="{% url 'update_post' post.pk %}">Edit</a>
        <br/>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}   
    {% endif %}    
</small>
<strong>{{post.category}}</strong>
<hr>
{{ post.body|safe }}
<br><br>
<button class="btn btn-primary">
    <a href="{% url 'home' %}" style="text-decoration:none;color: white;">
        Back
    </a>
</button>
</div>

<hr><br/>
{% endblock %}