{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Categories
{% endblock %}

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/categories.css' %}" />
{% endblock %}

{% block content %}

{% if category_posts %}
<h1>{{cats}}</h1>

<ul>
{% for post in category_posts %}
<li>
<a href="{% url 'article-detail' post.pk %}">
{{ post.title }} </a> - {{ post.author }}
<br>
{{post.author.first_name}} | {{post.author.last_name}}
<small>   
{% if user.is_authenticated %}    
   - <a href="{% url 'update_post' post.pk %}">Edit</a>
    <br/>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}
</small>

<a href="{% url 'category' post.category|slugify %}">
{{ post.category }}
</a>

<br>
{{ post.body|slice:":200"|safe }}
<br><br>
</li>
{% endfor %}
</ul>

{% else %}
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		 Sorry we couldn't find any blogs in the category you selected!
		</h3>
		
		
		<a href="{% url 'home' %}" class="link_404">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}