{% extends 'base.html' %}

{% load static %} 

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/category_list.css' %}" />
{% endblock %}

{% block title %}
    Blog Categories
{% endblock %}

{% block content %}
<br/><br/>
<div class="container con shadow-lg" style="justify-content:center;">
 <div style="position:relative;left:50px;">
<h3 class="cat" style="font-weight: bolder;">Choose a category to filter the blogs!</h3>
    <br/>
{% for item in cat_menu_list %}
<div class="sec">
<button type="button" class="btn btn-block " style="width:50%; background: linear-gradient(to right,#373B44 ,#4286f4 );color: aliceblue;font-size: large; ">
    <a href="{% url 'category' item %}" class="dropdown-item">{{item}}</a>
</button>
</div>
<br/>

{% endfor %}
</div>
</div>
{% endblock %}