{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Categories
{% endblock %}

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/categories.css' %}" />
{% endblock %}

{% block content %}

{% if category_posts %}
<section class="heading">
	<h1 class="heading-post">
		{{cats}}
	</h1>
	<p class="subtext">Here are some blogs suggested for you!!</p>
</section>

<br/>
{% for post in category_posts %}
<div class="container container-fluid blog-container shadow-lg rounded">

    <a href="{% url 'article-detail' post.pk %}" class="link">
        <h3 class="post-title">{{post.title}}</h3>
    </a>

        <small class="post-author">-Posted by {{post.author}}</small>
        <br/><br/>

        <span class="inline">
        <!-- Category -->
        <a href="{% url 'category' post.category %}">
        <span class="badge text-bg-primary category">
            {{post.category}}
        </span>
        </a>

        {% if user.is_authenticated %}  
        {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}" class="pencil-icon"><i class="fa-solid fa-pencil"></i></a>
          <br/>
        <a href="{% url 'delete_post' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash-arrow-up"></i></a> 
        {% endif %}
        {% endif %}
        </span>
        <hr>
        <section class="post-body">
            {{ post.body|slice:":500"|safe }}
        </section>
        <br/>
        <button type="submit" class="button-submit rounded-5 p-2" style="border-color:#fff;">
            <a href="{% url 'article-detail' post.pk %}" style="color:#fff;text-decoration:none;">
                Read More
            </a>
        </button>
 </div>
 <br><br><br>
{% endfor %}


{% else %}
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg" style="position:relative;left:60px;">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2" style="position: absolute;bottom:25%;left:20%;">
		 Sorry we couldn't find any blogs in the category you selected!
		</h3>
		
		
		<a href="{% url 'home' %}" class="link_404" style="position: absolute;bottom:10%; background: linear-gradient(to right,#373B44 ,#4286f4 );">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
{% endif %}
{% endblock %}