{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
<h1>{{ cats }}</h1>
<ul>
{% for post in category_posts %}
<li>
    <a href="{% url 'article-detail' post.pk %}">
    {{ post.title }} </a> - {{ post.author }}
    <br>
    {{post.author.first_name}} | {{post.author.last_name}}
    <small>
    <a href="{% url 'update_post' post.pk %}">Edit</a>
    <br/>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
    </small>
    <br>
    {{ post.body|slice:":200"|safe }}
    <br><br>
</li>
{% endfor %}
</ul>
{% else %}
<p>Sorry this page doesn't exist!</p>
{% endif %}
{% endblock %}