{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Blog Post
{% endblock %}

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/deletepost.css' %}" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <br/><br/>
    <div class="card container p-lg-5">
    <h3 class="delete-title">Delete: {{post.title}}</h3>
    <div class="container">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong class="warning-text">Are you sure?</strong><br/>
            <p class="text">This can't be undone!</p>
            <br/>
            <button class="btn btn-danger delete-post">Delete Post</button>
        </form>
    </div>
    </div>
</div>
{% else %}

Login required to view
{% endif %}    
{% endblock %}