{% extends 'base.html' %}
{% block content %}

<div class="container">
<h1>Post</h1>

<ul>
{% for post in object_list %}
<li>
<a href="{% url 'article-detail' post.pk %}">
{{ post.title }} </a> - {{ post.author }}
<br>
{{post.author.first_name}} | {{post.author.last_name}}
<small>
<a href="{% url 'update_post' post.pk %}">Edit</a>
<br/>
<a href="{% url 'delete_post' post.pk %}">Delete</a>
<br/>
</small>
<br>
<strong>
<a href="{% url 'category' post.category %}">
    {{post.category}}
</a>
</strong>
<hr>
{{ post.body|slice:":200"|safe }}

<br><br>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}