{% extends 'base.html' %}
{% load static %} 

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

{% block content %}

<div class="container">

<section class="heading">
<h1 class="heading-post">
    Welcome {{ user.first_name }}!
</h1>
<p class="subtext">Here are some blogs suggested for you!!</p>
</section>

<br/><br/>
{% for post in object_list %}
 <div class="container container-fluid blog-container shadow-lg rounded">

    <a href="{% url 'article-detail' post.pk %}" class="link">
        <h3 class="post-title">{{post.title}}</h3>
    </a>

        <small class="post-author">-Posted by {{post.author}}</small>
        <br/><br/>

        <span class="inline">
        <!-- Category -->
        <a href="{% url 'category' post.category %}">
        <span class="badge text-bg-primary category">
            {{post.category}}
        </span>
        </a>

        {% if user.is_authenticated %}   
        <a href="{% url 'update_post' post.pk %}" class="pencil-icon"><i class="fa-solid fa-pencil"></i></a>
          <br/>
        <a href="{% url 'delete_post' post.pk %}" class="delete-icon"><i class="fa-solid fa-trash-arrow-up"></i></a> 
        {% endif %}
        </span>
        <hr>
        <section class="post-body">
            {{ post.body|slice:":500"|safe }}
        </section>
        <br/>
        <button type="submit" class="button-submit rounded-5 p-2" style="border-color:#fff;">
            <a href="{% url 'article-detail' post.pk %}" style="color:#fff;text-decoration:none;">
                Read More
            </a>
        </button>
 </div>
 <br><br><br>
{% endfor %}
</div>


{% endblock %}