{% extends 'base.html' %}
{% block content %}

<div class="container">
<h1>Post</h1>

<ul>
{% for post in object_list %}
<li>
<a href="{% url 'article-detail' post.pk %}">
{{ post.title }} </a> - {{ post.author }}
<br>
{{post.author.first_name}} | {{post.author.last_name}}
<small>   
{% if user.is_authenticated %}    
   - <a href="{% url 'update_post' post.pk %}">Edit</a>
    <br/>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}
</small>

<a href="{% url 'category' post.category|slugify %}">
{{ post.category }}
</a>

<br>
<strong>
<a href="{% url 'category' post.category %}">
    {{post.category}}
</a>
</strong>
<hr>
{{post.snippet}}
{

<br><br>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}