{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Edit Blog Post
{% endblock %}

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/update_post.css' %}" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    <h1 style="text-align:center;color:#1e3c72; margin-top: 10px;">Update Post</h1>
    <br/><br/>
    <div class="container">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        </form>
    </div>
    <br/><br/>
    </div>
    {% else %}
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 ">
            <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center ">404</h1>
            
            
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
             Sorry we couldn't find any blogs in the category you selected!
            </h3>
            
            
            <a href="{% url 'home' %}" class="link_404">Go to Home</a>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
    {% endif %}
{% else %}

Login required to view
{% endif %}

{% endblock %}