{% extends 'base.html' %}

{% block title %}
    Edit Profile Page
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{%  if user.id == profile.user.id  %}
<br/>
    <h1 style="text-align:center; margin-top:10px; color:#1e3c72;">Edit Profile Page</h1>
    <div class="container">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update Profile Page</button>
        </form>
    </div>
    </div>
    <br/><br/>

    <!-- Javascript -->
    <script>
         var name="{{ user.first_name }}"
         document.getElementById("elder").placeholder=name;
    </script>

{% else %}
    Login required to view
{% endif %}

{% else %}
You are not the correct user to edit the page
{% endif %}
{% endblock %}