{% extends 'base.html' %}
{% load static %} 

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}" />
{% endblock %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-body rounded" style="height:60%;width:47%;position: absolute;left:27%;top:22%;text-align: center;color:#1e3c72;">
<div class="card mb-3" style="width: 600px;position: relative;top: 15%;border: 0cm;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start" alt="profile-pic">
      </div>
      <div class="col-md-8">
        <div class="card-body " style="font-weight: 500;">
          <h3 class="card-title" style="color:#1e3c72;">{{page_user}}</h3>
          <br>
          <p class="card-text">{{page_user.bio}}</p>
          <hr>
          <br>
          <p class="card-text" ><small class="text-muted">
            <a href="{{ page_user.website_url }}"><i class="fa-brands fa-internet-explorer px-2 fa-2x fa-bounce" style="color: #1e3c72;"></i></a>
            <a href="{{ page_user.twitter_url }}"><i class="fa-brands fa-twitter px-2 fa-2x fa-bounce" style="color: #1e3c72;"></i></a>
            <a href="{{ page_user.facebook_url }}"><i class="fa-brands fa-facebook px-2 fa-2x fa-bounce" style="color: #1e3c72;"></i></a>
            <a href="{{ page_user.instagram_url }}"><i class="fa-brands fa-instagram px-2 fa-2x fa-bounce" style="color: #1e3c72;"></i></a>
          </small></p>
        </div>
      </div>
    </div>
  </div>
</div>


<br/>

{% endblock %}